.homeall{
    background-image: url("./img/img1.jpg");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.videoTag{
  clip-path: circle(50.8% at 50% 50%);
    height: 50vh;
    width: 60vw;
    position: relative;
    left: 5vw;top: 0vh;
   
}
.nav{
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    padding: .1vh;

    margin: 4px;
}

.downloadall{
    background-image: url("./img/img3.jpg");
    height: 100vh;
    background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.loginall{
    background-image: url("./img/img6.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    height: 100vh;
}
.contactall{
    background-image: url("./img/img2.jpg");
    height: 100vh;
    background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}